{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Password reset complete</li>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10">
          <h3 class="card-title">Password changed!</h3>
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'accounts:login' %}" class="btn btn-success">Return to log in</a>
    </div>
  </div>
{% endblock %}