{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Set Password</li>
{% endblock %}


{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% include 'includes/form-snippet.html' %}
        <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}