{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Sign up</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 offset-2">
    <h2>Register <small>here</small></h2>
      <form method="post" novalidate id="signUpForm" class="sign-up-form" data-url="{% url 'profiles:validate_username' %}">
        {% csrf_token %}
        {% include 'includes/form-snippet.html' %}
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
      <div class="container">
        <span>Already register ? <a href="{{ login_url }}">Login here</a></span>
      </div>
    </div>
  </div>

{% endblock %}

