.card{
	margin: 10px;
}

.container{
	margin-top : 05px;
	margin-bottom: 05px;
}

.breadcrumb{
	margin-top : 10px;
}

.card >.comments-header{
	background-color: #292b2c;
	color: #fff;
}

.new-post{
	/*border: 1px solid grey;*/
}
.loading {
      margin-bottom: 5px;
      background-color: #1eaedb;
      color: #fff;
      text-align: center;
      padding: 25px 0;
    }
    .loading {
      background-color: #333;
    }