.card{
	margin: 10px;
}

.container{
	margin-top : 05px;
	margin-bottom: 05px;
}

.breadcrumb{
	margin-top : 10px;
}

.card >.comments-header{
	background-color: #292b2c;
	color: #fff;
}

.new-post{
	/*border: 1px solid grey;*/
}
.loading {
      margin-bottom: 5px;
      background-color: #1eaedb;
      color: #fff;
      text-align: center;
      padding: 25px 0;
    }
.loading {
  background-color: #333;
}

.btn-medium{
  background-color: #02b875;
}

.btn-gplus, .btn-gplus:hover{
  background-color: #DD4B39;
}

.btn-github, .btn-github:hover{
  background-color: #333333;
}

/*.btn:hover{
box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}*/