{% extends 'base.html' %}

{% load humanize %}

{% block title %} {{ user }} Dashboard {% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
	<h1 class="text-muted">Dashboard</h1>
	{% if perms.issuperuser %}
		<ul>
			<li><a href="{% url 'profiles:post-list' %}">Post list</a></li>
			<li><a href="{% url 'users-api:user-list' %}">User list</a></li>
		</ul>
	{% endif %}
	
{% endblock %}