{% extends 'base.html' %}
{% load post_extras %}
{% load humanize %}

{% block title %} {{ user }} Profile {% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
	{% if perms.isuperuser %}
		<ul>
			<li><a href="{% url 'profiles:post-list' %}">Post list</a></li>
			<li><a href="{% url 'users-api:user-list' %}">User list</a></li>
		</ul>
	{% endif %}

	<!-- {% if user|has_group:"Authors"%}
		<p>you are author</p>
	{% else %}
		<p>You are not author</p>
		<p>want to write for us ? <a href="#">click here</a></p>
	{% endif %} -->
	
{% endblock %}