{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Reset Password</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8">
          <h3 class="card-title">Reset your password</h3>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" action="">
            {% csrf_token %}
            {% include 'includes/form-snippet.html' %}
            <button type="submit" class="btn btn-primary">Send password reset email</button>
          </form>
        
    </div>
  </div>
{% endblock %}