<div class="modal fade" id="replyModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modal_title }} Reply Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Replying to : <strong id="comment_text_content"></strong>  comment.</span>
        {% if user.is_authenticated %}
        <form method="POST action="." class="form-inline form-replies mt-2" data-comment_post_url="{% url 'posts:details' post.id %}" data-api_replies_create_url="{% url 'posts-api:comment-create' %}"> {% csrf_token %}
            {% include 'includes/form-snippet.html'%}
            <div class="modal-footer">
            
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value='Reply'>
            
            </div>
        </form>
        {% else %}
          <strong><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to reply.</strong>
        {% endif %}
      </div>
    </div>
  </div>
</div>