{% extends 'base.html' %}

{% block title%} Blog Homepage {% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="container col-sm-8">
	<h2>Latest Blogs</h2>
	{% if user.is_authenticated %}
		<a href="{% url 'posts:new-post' %}" class="btn btn-primary" role="button">New Post</a>
	{% endif %}
	{% for post in posts %}
		<div class="card">
		<div class="card-header home-post-header">
	    		<h4><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a></h4>
	  	  </div>

		  <div class="card-block">
		   <!--  <h4 class="card-title"><a href="{% url 'posts:details' post.id %}">{{ post.title }} --></a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">Published on:{{ post.publish }} By:{{ post.user}}. Views: {{ post.views }}. Comments: {{ post.comments.count }} </h6>
		    <p class="card-text">{{ post.get_content_as_markdown|linebreaks|truncatewords:30 }}</p>

		    <a href="{% url 'posts:details' post.id %}" class="card-link">Read more</a>

		    {% if user.is_authenticated and post.user == request.user %}
		    	<a class="btn btn-default" href="{% url 'posts:edit' post.id %}" role="button">Update</a>
		    	<a class="btn btn-default" href="{% url 'posts:delete' post.id %}" role="button">Delete</a>
		    {% endif %}
		    
		  </div>
		</div>
	{% endfor %}
	<h3><a href="{% url 'posts:list' %}">More Stories</a></h3>
</div>
<div class="container col-sm-4">
	<div class="card" style="width: 20rem;">
	  <div class="card-block">
	    <h4 class="card-title">Recent Updated Posts</h4>
	    <ul>
	    	{% for post in updated_posts %}
	    		<li><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a></li>
	    	{% endfor %}
	    </ul>    
	  </div>
	</div>

	<div class="card" style="width: 20rem;">
	  <div class="card-block">
	    <h4 class="card-title">Most Viewd Posts</h4>
	    <ul>
	    	{% for post in most_viewd_posts %}
	    		<li><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a></li>
	    	{% endfor %}
	    </ul>
	  </div>
	</div>

	<div class="card" style="width: 20rem;">
	  <div class="card-block">
	    <h4 class="card-title">Most Commented Posts</h4>
	    <ul>
	    	{% for post in most_commented_posts %}
	    		<li><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a></li>
	    	{% endfor %}
	    </ul>
	  </div>
	</div>

</div>
</div>

{% endblock %}