{% extends 'base.html' %}

{% block title%} Blog Homepage {% endblock %}
{% block content %}

<div class="row">
	<div class="container">
	<h2>Latest Blogs</h2>
	{% if user.is_authenticated %}
		<a href="{% url 'posts:new-post' %}" class="btn btn-primary" role="button">New Post</a>
	{% endif %}
	{% for post in posts %}
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><a href="{% url 'posts:details' post.id %}">{{ post.title }}</a></h4>
		    <h6 class="card-subtitle mb-2 text-muted">Published on:{{ post.publish }} By:{{ post.user}}. read time: {{ post.read_time }} min.</h6>
		    <p class="card-text">{{ post.content }}</p>
		    <a href="{% url 'posts:details' post.id %}" class="card-link">Read more</a>
		  </div>
		</div>
	{% endfor %}
	<h3><a href="{% url 'posts:list' %}">More Stories</h3>
</div>
</div>

{% endblock %}