{% extends 'base.html' %}
{% load static %}

{% block title%} {{ title_text }} {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}


{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	<li class="breadcrumb-item"><a href="{% url 'posts:list' %}">Post list</a></li>
  	<li class="breadcrumb-item active">{{title_text}}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="container new-post">
		<h2>{{title_text}}</h2>
		<form action="" method="POST" novalidate id="new_post_form" data-url="{% url 'posts:new-post' %}"> {% csrf_token %}
		    {% include 'includes/form-snippet.html' %}
		  <button type="submit" class="btn btn-primary">{{ btn_text }}</button>
	</form>
	</div>
</div>
{% endblock %}
	
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script type="text/javascript">
		var simplemde = new SimpleMDE({ element: $("#id_content")[0] });
	</script>
{% endblock %}