{% extends 'base.html' %}

{% block title%} Blog Detail {% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  	<li class="breadcrumb-item"><a href="{% url 'posts:list' %}">Post List</a></li>
  	<li class="breadcrumb-item active">Post Details</li>
{% endblock %}

{% block content %}

<div class="container">
	{% include 'includes/messages.html' %}

	<h2>{{ post.title }}</h2>
	<h6 class="text-muted">By: {{ post.user }}.</h6>
	<h6 class="text-muted">Published on: {{ post.publish }} Last Updated: {{ post.updated }} Comments: {{ post.comments.count }}. View: {{ post.views }}. read time: {{ post.read_time }} min.</h6>

	<p>{{ post.get_content_as_markdown }}</p>

	<h3>Comments</h3>
	{% if user.is_authenticated %}
		
		<form action="." method="POST"> {% csrf_token %}
			{% include 'includes/form-snippet.html' %}
			<button type="submit" class="btn btn-primary btn-comment">Comment</button>
		</form>
	{% else %}
			<strong><a href="{% url 'accounts:login' %}">Login</a> or <a href="{% url 'accounts:signup' %}">Register</a> to comment.</strong>
	{% endif %}
		
	<hr>
		<h5>Latest comments</h5>
		{% for comment in post.get_comments %}
			{% if comment.parent == None%}	
			<div class="card">
			  <div class="card-header comments-header">
			     <h6>By: {{ comment.user }}. <small>on -{{ comment.timestamp }} last updated: {{ comment.updated }} Replies: {{ comment.has_children.count }}</small></h6> 
			  </div>
			  <div class="card-block">
			    <h4 class="card-title"></h4>
			    <p class="card-text">{{ comment.content }}</p>
				  	<a href="#" class="btn btn-primary btn-sm" role="button"> Reply </a>
				   <a href="#" class="btn btn-primary btn-sm" role="button">View Replies</a>
				  	
				  	<ul class="comment-replies">
				  		{% for replies in  comment.has_children %}
				  			<li>{{ replies.content }}</li>
				  		{% endfor %}
				  	</ul>
				  	<form action="." method="POST" class="form-inline"> {% csrf_token %}
						{% include 'includes/form-snippet.html' %}
						 <input type='hidden' name='parent_id' value='{{ comment.id }}'>
						<button type="submit" class="btn btn-secondary ml-2 btn-reply">Reply</button>
					</form>
			  </div>
			</div>
			{% endif %}
		{% empty %}
			<span>No Comments yet!</span>
		{% endfor %}	
	</div>



{% endblock %}