{% extends 'base.html' %}
{% load humanize %}

{% block title%} Blog Detail {% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
	<li class="breadcrumb-item"><a href="{% url 'posts:list' %}">Post List</a></li>
	<li class="breadcrumb-item active">Post Details</li>
{% endblock %}

{% block content %}

<div class="container">
	<h2>{{ post.title }}</h2>
	<h6 class="text-muted" data-post_id="{{ post.id }}" id="post_title_id" data-api_post_comments_list_url="{% url 'posts-api:post-comment-list' post.id  %}" data-api_post_detail_url="{% url 'posts-api:post-detail' post.id %}">By: {{ post.user }}.</h6>
	<h6 class="text-muted">Published on: {{ post.publish }}. Last Updated: {{ post.updated|naturaltime }}. Comments: {{ post.comments.count }}. View: {{ post.views }}. read time: {{ post.read_time }} min.</h6>
	<p>{{ post.get_content_as_markdown }}</p>

	<h3>Comments</h3>
	{% if user.is_authenticated %}
		<form action="." method="POST" id="comment_form" data-comment_post_url="{% url 'posts:details' post.id %}"> {% csrf_token %}
			{% include 'includes/form-snippet.html' %}
			<button type="submit" class="btn btn-primary btn-comment">Comment</button>
		</form>
	{% else %}
			<strong><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to comment.</strong>
	{% endif %}		

	<hr>
		<h5>Latest comments</h5>
		<div class="container" id="post_comments" class="my-new-list">
			
		</div>
	
	</div>
	{% include 'posts/includes/reply_modal.html' %}
{% endblock %}

{% block javascript %}

{% endblock %}